@import "tailwindcss";

@theme {
  --font-dancing-script: "Dancing Script", cursive;
  --font-hurricane: "Hurricane", cursive;
  --font-megrim: "Megrim", sans-serif;
  --font-cormorant: "Cormorant Garamond", serif;
  --font-marvel: "Marvel", sans-serif;
}

